node_modules
coverage
dist

.idea

log[s]

exercise

*.log
*.log.*
lib

**/server/config/test.yml
**/server/config/staging.yml
**/server/config/production.yml

!node_modules/@test
!node_modules/@server

!src/server/lib

exclude
